body {
  font-family: Arial, Helvetica, sans-serif, serif;
  margin: 2em;
  color: #657b83;
}

h1 {
  font-weight: 700;
  color: #586e75;
}

.SoftwareEng_Life {
  font-weight: 700;
  color: #0fb5e7;
  border: #586e75;
}